- name: Check docker existence
  command: docker info
  register: docker_output
  ignore_errors: True

- block:
  - name: Include "{{ansible_os_family}}" tasks
    include: "{{ansible_os_family}}.yml"

  - name: Install dependencies for docker management
    pip: name=docker

  - name: Assure that /etc/default/docker exists
    file:
      path: /etc/default/docker
      state: touch

  - name: Set DOCKER_OPTS
    lineinfile:
      dest: /etc/default/docker
      regexp: 'DOCKER_OPTS='
      line: 'DOCKER_OPTS="{{docker_opts}}"'
      create: yes
    when: docker_opts != ""
    notify:
    - restart docker

  # Enable to read the docker default values
  - stat:
      path: /lib/systemd/system/docker.service
    register: docker_service

  - lineinfile:
      dest: /lib/systemd/system/docker.service
      insertbefore: '^ExecStart='
      line: 'EnvironmentFile=/etc/default/docker'
    notify:
    - reload systemctl
    - restart docker
    when: docker_service.stat.exists and
          ((ansible_os_family == "RedHat" and ansible_distribution_major_version == "7") or
          (ansible_os_family == "Debian"))

  - lineinfile:
      dest: /lib/systemd/system/docker.service
      regexp: '(?!.*\$DOCKER_OPTS.*)(^ExecStart=.*)'
      line: '\1 $DOCKER_OPTS'
      backrefs: yes
    notify:
    - reload systemctl
    - restart docker
    when: docker_service.stat.exists and
          ((ansible_os_family == "RedHat" and ansible_distribution_major_version == "7") or
          (ansible_os_family == "Debian"))

  - name: start docker
    service: name=docker state=started
    when: docker_start_service

  - name: enable docker service
    service: name=docker enabled=yes
    when: docker_start_enable_service


  - name: force all notified handlers to run at this point, not waiting for normal sync points
    meta: flush_handlers

  when: docker_output|failed
