- block:
  - name: Remove unofficial Docker packages
    yum: name=docker state=removed

  - name: Add missing utils
    yum: name=yum-utils

  - name: Add docker repo
    command: yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo

  - name: Yum install Docker
    yum: name=docker-ce state=latest update_cache=yes

  when: ansible_distribution_major_version|int >= 7

- block:
  - name: EPEL
    yum: name=epel-release

  - name: Yum install docker in RH 6
    yum: name=docker-io update_cache=yes

  when: ansible_distribution_major_version|int < 7

- name: Install CRIU
  yum: name=criu state=latest
  when: ansible_distribution_major_version|int >= 7
  tag:
    - install-criu
